.vscode/
ipchecker.code-workspace
ipchecker/__pycache__/
ipchecker/tempCodeRunnerFile.py
tests/__pycache__/
ipchecker.code-workspace
ipchecker/.gitignore
ipchecker/__pycache__/__init__.cpython-310.pyc
ipchecker/__pycache__/__init__.cpython-38.pyc
ipchecker/__pycache__/functions.cpython-38.pyc
ipchecker/__pycache__/main.cpython-38.pyc
ipchecker/tempCodeRunnerFile.py
tests/__pycache__/__init__.cpython-310.pyc
tests/__pycache__/__init__.cpython-38.pyc
tests/__pycache__/test_ipchecker.cpython-310-pytest-7.1.2.pyc
tests/__pycache__/test_ipchecker.cpython-38-pytest-5.4.3.pyc